<!DOCTYPE html>
<html lang="en">
    
<head>   
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/categorias.css">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap" rel="stylesheet">
    <script src="javaScript/jquery-3.6.0.js"></script>
	<script src="JavaScript/categorias.js"></script>
    
    <title>Categorias</title>
    <div class="social">
        <a href="https://www.facebook.com/" target="blank_"><i class="fb fa fa-facebook"></i></a>
        <a href="https://twitter.com/?lang=es" target="blank_"><i class="tw fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/?hl=es-la" target="blank_"><i class="in fa fa-instagram"></i></a>
        <a href="https://www.youtube.com/watch?v=caq28GGsdbI" target="blank_"><i class="yt fa fa-youtube"></i></a>
        </div>
    
</head>
<header>
    
    <div class="contenedor">
        <h2 class="logotipo">Inicio</h2>
        <nav>
            <a href="index.html">Inicio</a>
            <a href="#">Noticias</a>
            <a href="Categorias.html">Categorias</a>
            <a href="contacto.html">Contacto</a>
            <a href="Usuario.html">Usuario</a>
            <i class="fas fa-bell-slash"></i>
            
        </nav>
    </div>
</header>
<body>
    <div class="wrap">
		<h1>MusicWorld</h1>
		<div class="store-wrapper">


            <div class="wrap">
                <h1>CATEGORIAS DE INSTRUMENTOS</h1>
                <div class="store-wrapper">
                    <div class="category_list">
                        <a href="#" class="category_item" category="all">Todos los Instrumentos</a>
                        <a href="#" class="category_item" category="i Viento">Viento</a>
                        <a href="#" class="category_item" category="i Cuerda">Cuerda</a>
                        <a href="#" class="category_item" category="i Percusión">Percusión</a>
                        <a href="#" class="category_item" category="i Instrumentos eléctricos">Instrumentos eléctricos</a>
                    </div>
                    <section class="products-list">
                        <div class="product-item" category="i Viento">
                            <img src="imagenes/trompeta.jpg" alt="" width="300" height="300" />
                            <a href="#">Trompeta</a>
                        </div>
                        <div class="product-item" category="i Viento">
                            <img src="imagenes/flauta.jpg" alt="" width="300" height="300" />
                            <a href="#">Flauta</a>
                        </div>
                <div class="product-item" category="i Viento">
                            <img src="imagenes/clarinete.jpg" alt="" width="300" height="300" />
                            <a href="#">Clarinete</a>
                        </div>
                        <div class="product-item" category="i Cuerda">
                            <img src="imagenes/Guitarra.jpg" alt="" width="300" height="300" />
                            <a href="#">Guitarra</a>
                        </div>
                        <div class="product-item" category="i Cuerda">
                            <img src="imagenes/Violin.jpg" alt="" width="300" height="300" />
                            <a href="#">Violin</a>
                        </div>
                        <div class="product-item" category="i Percusión">
                            <img src="imagenes/Timbales.jpg" alt="" width="300" height="300" />
                            <a href="#">Timbales</a>
                        </div>
                        <div class="product-item" category="i Percusión">
                            <img src="imagenes/Bombo.jpg" alt="" width="300" height="300" />
                            <a href="#">Bombo</a>
                        </div>
                        <div class="product-item" category="i Instrumentos eléctricos">
                            <img src="imagenes/Sintetizador.jpg" alt="" width="300" height="300" />
                            <a href="#">Sintetizador</a>
                        </div>
                        <div class="product-item" category="i Instrumentos eléctricos">
                            <img src="imagenes/Guitarra Eléctrica.jpg" alt="" width="300" height="300" />
                            <a href="#">Guitarra Eléctrica</a>
                        </div>
                    </section>
                </div>
            </div>

    
</body>
</html>
