<!doctype html>
<title>
Registro
</title>
<head><meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="imagenes/diseno2.ico" type="image/x-icon">
	<link rel="stylesheet" href="CSS/contacto.css">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="imagenes/diseno2.ico" type="image/x-icon">
    <link rel ="stylesheet" href="CSS/contacto.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">

</head>
<header>
    <div class="contenedor">
        
        <h2 class="logotipo">Inicio</h2>
        <nav>
            <a href="#" class="activo">Inicio</a>
            <a href="#">Noticias</a>
            <a href="Categorias.html">Categorias</a>
            <a href="">Contacto</a>
            <a href="Usuario.html">Usuario</a>
            <i class="fas fa-bell-slash"></i>
            <i class="far fa-address-book "> Cristiano</i>
        </nav>
    </div>
</header>
<section  class="form-registro">
    <h5>Registrarse</h5>
    <p>Digite los datos solicidatos</p>
    
    <input class="controls" type="text" name="Nombre" value="" placeholder="Nombres">
    <input class="controls" type="text" name="Correo" value="" placeholder="Correo">
    <input class="controls" type="text" name="Telefono" value="" placeholder="Telefono">
    <textarea class="controls" name="Mensaje" placeholder="Escribe tu mensaje"></textarea>  
    <a href="IniciarSesion.html" input class ="btn-secundary " type ="button" type="submit"  value="Ingresar">Enviar</a>

</section>
    


<body>
    <div class="box-mapa">
    <iframe class="mapa"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5623.99715129838!2d-74.
    12090139978574!3d4.635693273650545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3
    f84c813550dc9%3A0x6bfa3b3705f55cba!2sPlaza%20Central%20Centro%20Comercial!5e0!3m2!1sen!2sco!
    4v1623907298099!5m2!1sen!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

</body>
</html>