{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="{% static 'img/diseño2.ico' %}" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">

	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

	<title>Inicio</title>
</head>
<body>
	<header>
		<div class="contenedor">
			<h2 class="logotipo">Inicio</h2>
			<nav>
				<a href="#" class="activo">Inicio</a>
				<a href="Noticias.html">Noticias</a>
				<a href="Categorias.html">Categorias</a>
				<a href="contacto.html">Contacto</a>
				<a href="IniciarSesion.html">Iniciar sesion</a>
				<a href="registro.html">Registrarse</a>

			
			</nav>
		</div>
	</header>

	<main>
		<div class="pagina-principal">
			<div class="contenedor">
				<h3 class="titulo">Music World</h3>
				<p class="descripcion">
					<br>Encuentra los mejores instrumentos musicales en un solo lugar.</br>

						<br>Tenemos teclados, guitarras,violines, acordeones, trompetas y todo en instrumentos aprovecha ahora.</br>


             <br>Envio de cualquier instrumento que compres en nuestra tienda online lo enviamos a cualquier ciudad de
						 Colombia únicamente por servicios de correo certificados y garantizados.	</br>



						 <br>Realiza el pago de tu instrumento de una forma fácil, rápida y segura a través de la plataforma de pagos en internet más seguras de latinoamerica.</pre>


				<br><button role="button" class="boton"><i class="far fa-eye"></i>Abrir</button></pre>
				<button role="button" class="boton"><i class="fas fa-info-circle"></i>Mas Informacion</button>
			</div>
		</div>

		<div class="instrumentos-recomendado contenedor">
			<div class="contenedor-titulo-controles">
				<h3>instrumentos en oferta</h3>
				<div class="indicadores"></div>
			</div>

			<div class="contenedor-principal">
				<button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

				<div class="contenedor-carousel">
					<div class="carousel">
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/1.jpg' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/2.png' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/3.png' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/4.jpg' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/5.jpg' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/6.png' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/7.jpg' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/8.jpg' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/9.png' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/10.jpg' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/11.png' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/12.jpg' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/13.jpg' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/14.jpg' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/15.jpg' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/16.jpg' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/17.jpg' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/17.jpg' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/17.jpg' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/17.jpg' %}" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="{% static 'img/Inicio/17.jpg' %}" width="140" height="199" alt=""></a>
						</div>
					</div>
				</div>
				<button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
			</div>
		</div>
	</main>

	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="{% static 'js/index.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>
