<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="imagenes/diseno2.ico" type="image/x-icon">
	<link rel="stylesheet" href="CSS/Inicio.css">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/solid.min.css" integrity="sha512-jQqzj2vHVxA/yCojT8pVZjKGOe9UmoYvnOuM/2sQ110vxiajBU+4WkyRs1ODMmd4AfntwUEV4J+VfM6DkfjLRg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
	
	<title>Inicio</title>
<body>
	<header>
		<div class="contenedor">
			<h2 class="logotipo">Inicio</h2>
			<nav>
				<ul>
					<li> <a href="Noticias.html">Noticias</a></li>
					<li> <a href="Categorias.html">Categorias</a></li>
					<li> <a href="contacto.html">Contacto</a></li>
					<li><a href="#"><i class="fas fa-user-circle"></i></i></a>
						<style>
							.fa-user-circle{
								color: #fff;
								;
								font-size: 45px;
							}
						</style>
						
						<ul>
							<li>Thedilan4</li>

							<li><a href="Perfil/index.html">Perfil</a></li>
							<li><a href="index.html">Cerrar sesion</a></li>
						</ul>
	
	
				</ul>
			</nav>
		</div>
	</header>

	<main>
		<div class="pagina-principal">
			<div class="contenedor">
				<h3 class="titulo">Music World</h3>
				<p class="descripcion">
					<br>Encuentra los mejores instrumentos musicales en un solo lugar.</br>

						<br>Tenemos teclados, guitarras,violines, acordeones, trompetas y todo en instrumentos aprovecha ahora.</br>


             <br>Envio de cualquier instrumento que compres en nuestra tienda online lo enviamos a cualquier ciudad de
						 Colombia únicamente por servicios de correo certificados y garantizados.	</br>



						 <br>Realiza el pago de tu instrumento de una forma fácil, rápida y segura a través de la plataforma de pagos en internet más seguras de latinoamerica.</pre>


				<br><button role="button" class="boton"><i class="far fa-eye"></i>Abrir</button></pre>
				<button role="button" class="boton"><i class="fas fa-info-circle"></i>Mas Informacion</button>
			</div>
		</div>

		<div class="instrumentos-recomendado contenedor">
			<div class="contenedor-titulo-controles">
				<h3>instrumentos en oferta</h3>
				<div class="indicadores"></div>
			</div>

			<div class="contenedor-principal">
				<button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

				<div class="contenedor-carousel">
					<div class="carousel">
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/1.jpg" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/2.png" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/3.png" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/4.jpg" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/5.jpg" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/6.png" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/7.jpg" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/8.jpg" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/9.png" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/10.jpg" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/11.png" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/12.jpg" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/13.jpg" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/14.jpg" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/15.jpg" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/16.jpg" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/17.jpg" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/18.jpg" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/20.jpg" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/21.jpg" width="140" height="199" alt=""></a>
						</div>
						<div class="instrumento">
							<a href="#"><img src="imageneS/Inicio/22.jpg" width="140" height="199" alt=""></a>
						</div>
					</div>
				</div>

				<button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
			</div>
		</div>
	</main>

	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="JavaScript/main.js"></script>
</body>
</html>
