<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="JavaScript/noticias/font.css">
    <link rel="stylesheet" href="JavaScript/noticias/main.css">
    <title>Noticias De Music World</title>
    <div class="social-bar">
      <a href="https://www.facebook.com" class="icon icon-facebook" target="_blank"></a>
      <a href="https://twitter.com" class="icon icon-twitter" target="_blank"></a>
      <a href="https://www.youtube.com" class="icon icon-youtube" target="_blank"></a>
      <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"></a>
    </div>
    <link rel="shortcut icon" href="img/diseno2.ico" type="image/x-icon">
    <body style="background-color:#5731F0 ;">
</body>

    <link rel="stylesheet" href="CSS/noticias.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <nav>
            <a href="Noticias.html">Noticias</a>
            <a href="Inicio.html">Inicio</a>
            <a href="Categorias.html">Categorias</a>
            <a href="contacto.html">Contacto</a>
            <a href="#">Usuario</a>
        </nav>
        <section class="textos-header">
            <h1>Las noticias mas relevantes en el mundo de la musica</h1>
            <h2>Los músicos no deberían tocar música. La música debería tocar a los músicos</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #5731F0 ;"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Noticias</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="img/Fondo.jpeg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>El intrumentos Mas usado en la actualidad</h3>
                    <p>Durante los meses de confinamiento provocado por las medidas para contener la expansión del Covid-19, la música ha sido el refugio para muchos. Los propios artistas hicieron más llevadero el paso de los peores días de pandemia, con creaciones que se hicieron virales y que todos compartimos con sentimientos positivos. Canciones llenas de sonidos que se mezclaron de manera casi artesana gracias a las nuevas tecnologías. Pero todas ellas con un origen común: instrumentos musicales que en la actualidad van ganando presencia.</p>

                      <p>La guitarra eléctrica tiene un sonido muy atractivo y la encontramos e estilos musicales
muy variados, desde el rock al blues</p>

                  <p>La guitarra, en cualquiera de sus variantes, es el instrumento más popular de la actualidad y viene siéndolo desde hace tiempo.</p>
                    <h3><span>2</span>La versatilidad del violín</h3>
                    <p>Otro de los instrumentos más populares es el violín. Algunas de las piezas clásicas más bellas han sido interpretadas con él. También hay que decir que es un instrumento muy manejable, fácil de transportar y que cuenta con mucho material disponible para poder aprender más de él.

Igualmente, es un instrumento que se emplea en varios estilos, además del clásico como el folk o el country. Naturalmente, podemos encontrar distintos modelos a diferentes precios, repartiéndose las alternativas entre violines clásicos y digitales. </p>
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Relevantes</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="img/img1.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Mas informacion</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/img2.jfif" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Mas informacion</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/img3.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Mas informacion</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/img8.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Mas informacion</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/img4.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Mas informacion</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/img5.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Mas informacion</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/img6.jfif" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Mas informacion</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/img7.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Mas informacion</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientes contenedor">
            <h2 class="titulo">Música en tiempos de Covid-19</h2>
            <div class="cards">
                <div class="card">
                    <img src="img/face1.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Yo me quedo en casa, por ustedes</h4>

                        <p> Para algún aficionado, el éxito le ha venido por sorpresa. Tal es el caso de Horacio Rodríguez y su familia. Este soldador y barbero argentino acumula cerca de 65 000 reproducciones de una canción interpretada por toda su familia desde una humilde casa de Ciudad Oculta.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="img/face2.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>La música no cura una pandemia, pero alegra el alma</h4>
                        <p>En tiempos de coronavirus la música se hace más presente en nuestras vidas, ya que los artistas musicales están buscando la manera de tener la cercanía con sus fans, esta pandemia no es un impedimento para que la música suene </p>
                    </div>
                </div>
            </div>

            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>32254284</p>
            </div>
            <div class="content-foo">
                <h4>Gmail</h4>
                <p>MusicWorld4444@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Direccion</h4>
                <p>Calle Soprano</p>
            </div>
        </div>
        <h2 class="titulo-final">Music World</h2>
    </footer>
</body>

</html>
