<!doctype html>
<title>
recuperar Contraseña
</title>
<head>
    <link rel="shortcut icon" href="imagenes/diseno2.ico" type="image/x-icon">
    <link real ="stylesheet"href="#" >
    <link rel ="stylesheet" href="CSS/recuperarContraseña.css">

</head>
<body>
    <section class="form-recuperar">
    <h5>Recuperar Contraseña</h5>
    <p>La contraseña se enviara al correo</p>
    <input type="email" name="correo" placeholder="@gmail.com" class="input-100">
    <a href="IniciarSesion.html" input class ="btn-secundary " type ="button" type="submit"  value="Ingresar">Enviar</a>
    </section>


</body>
</html>