
<!doctype html>
<title>
Registro
</title>
<head>
    <link rel="shortcut icon" href="imagenes/diseno2.ico" type="image/x-icon">
    <link rel ="stylesheet" href="CSS/registrarse.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">

</head>
<section  class="form-registro">
    <h5>Registrarse</h5>
    <p>Digite los datos solicidatos</p>
    <input class="controls" type="text" name="Usuario" value="" placeholder="Nombres">
    <input class="controls" type="text" name="Usuario" value="" placeholder="Apellidos">
    <input class ="controls" id ="inputcontraseña" type="int" name="Tipo de documento" value="" placeholder="Tipo de documento">
    <input class ="controls" id ="inputcontraseña" type="int" name="Numero de identificacion" value="" placeholder="Numero de identificacíon">
    <input class ="controls" id ="inputtelefono" type="int" name="Telefono" value="" placeholder="Telefono">
    <input class ="controls" id ="inputcorreo" type="email" name="Correo" value="" placeholder="Correo">
    <input class ="controls" id ="inputdireccion" type="text" name="Contraseña" value="" placeholder="Direccíon">
    <input class="controls"type="text" name="Usuario" value="" placeholder="Nombre de usuario">
    <input class ="controls" id ="inputcontraseña" type="password" name="Contraseña" value="" placeholder="Contraseña">
    <input type="email" name="correo" placeholder="@gmail.com" class="controls">
    <input class ="form-verificado" type="checkbox"  > Acepta las politicas,terminos y condiciones<br>
    <a href="IniciarSesion.html" input class ="btn-secundary " type ="button" type="submit"  value="Ingresar">Enviar</a>

</section>
    


<body>


</body>
</html>