:root {
	--rojo: linear-gradient(45deg,#000000, #0076FF);
	  --fondo: linear-gradient(45deg,#000000, #0076FF);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 30px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}


nav {
    
    display: flex;
}
nav ul {
    float: left;
    display: flex;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}


nav ul li a {
    display: block;
    padding: 0rem 1rem;
    line-height: 3rem;
    color: grey;
    text-decoration: none;
}

nav ul li a:hover{
	color: honeydew;
	animation: initial;
}

nav ul li ul {
    display: none;
    position: absolute;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li  {
    width: 100%;
}

nav ul li ul li a {
    padding: 1rem 2rem;
    line-height: unset;
    white-space: nowrap;
}

nav ul li ul li a:hover {
    background-color: #efefef;
}


/* ---- ----- -----Pagina principal----- ----- ----- */
.pagina-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../imagenes/Inicio/backdrop.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pagina-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pagina-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pagina-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pagina-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.pagina-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pagina-principal .boton i {
	margin-right: 1.25em;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: red;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.instrumentos-recomendado {
	margin-bottom: 70px;
}

.instrumentos-recomendado .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.instrumentos-recomendado .contenedor-principal .flecha-izquierda,
.instrumentos-recomendado .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.instrumentos-recomendado .contenedor-principal .flecha-izquierda:hover,
.instrumentos-recomendado .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.instrumentos-recomendado .contenedor-principal .flecha-izquierda {
	left: 0;
}

.instrumentos-recomendado .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.instrumentos-recomendado .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.instrumentos-recomendado .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.instrumentos-recomendado .contenedor-carousel .carousel .instrumento {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.instrumentos-recomendado .contenedor-carousel .carousel .instrumento.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.instrumentos-recomendado .contenedor-carousel .carousel .instrumento img {
	width: 100%;
	vertical-align: top;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pagina-principal {
		font-size: 14px;
	}

	.pagina-principal .descripcion {
		max-width: 100%;
	}

	.instrumentos-recomendado .contenedor-carousel {
		overflow: visible;
	}

	.instrumentos-recomendado .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.instrumentos-recomendado .indicadores,
	.instrumentos-recomendado .flecha-izquierda,
	.instrumentos-recomendado .flecha-derecha {
		display: none;
	}
}












html {
	font-size: 16px;
}

.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #2E406E;
}

.icon-twitter {
	background: #339DC5;
}

.icon-youtube {
	background: #E83028;
}

.icon-instagram {
	background: #3F60A5;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}
